API_KEY = '123abc'  # change this to your API key
CLIENT_ID = '456def'  # put your Client ID here
SSH_KEY_IDS = ['123']  # you will want to change this

REGION = 'nyc2'
NAME = 'instavpn'
SIZE = '512mb'
IMAGE = 'debian-7-0-x64'

MAX_RETRIES = 15
